.Footer {
    margin-top: 80px;
    margin-left: 20px;
}

.footer-category {
    display: flex;
    height: 280px;
}

.footer-category span,
.footer-category h3 {
    margin-bottom: 12px;
    cursor: pointer;
}

.footer-category span:hover,
.footer-category h3:hover {
    text-decoration: underline;
}

.footer-category-main,
.footer-category-sub {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 48px;
}

.footer-category-info {
    padding: 0 20px;
}

.footer-category-main div {
    min-height: 1px;
    width: 120px;
    background: #ccc;
    margin-bottom: 16px;
}

.footer-category-info,
.footer-category-sub {
    border-left: 1px solid #ccc;
}

.footer-category-info i {
    margin-right: 4px;
}

.footer-category-info .btn-group {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 12px;
}

.footer-category-info .btn-footer {
    border: 1px solid #ccc;
    padding: 8px;
    width: 110px;
}

.footer-category-info .p-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 12px;
}

.footer-category-info .p-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-top: 8px;
    padding-bottom: 12px;
}

.footer-category-info .p-info {
    margin-bottom: 12px;
}
