.ArticleCategory {
    max-width: 50%;
    padding-left: 20px;
    border-left: 1px solid #ccc;
}

.article-category {
    border-bottom: 4px solid #ccc;
    padding-bottom: 20px;
}

.article-category:not(:first-child) {
    margin-top: 12px;
}
.tittle-category {
    display: flex;
    align-items: center;
    width: 600px;
}

.tittle-category h3 {
    border-bottom: 2px solid #b52759;
    font-size: 20px;
    padding-bottom: 4px;
    cursor: pointer;
}

.tittle-category span {
    font-size: 16px;
    margin-left: 12px;
    cursor: pointer;
}

.tittle-category span:hover,
.tittle-category h3:hover {
    color: #b52759;
}

.content-category {
    display: flex;
    width: 100%;
}

.content-category > .ArticleItem,
.content-category a {
    max-width: 240px;
    min-width: 240px;
    margin-right: 16px;
}

.content-category .ArticleItem .title-article-item {
    font-weight: 700;
}

.content-category-list {
    flex-grow: 1;
}
.content-category-list .article-item-container {
    display: flex;
    margin-bottom: 8px;
}

.content-category-list .article-item-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.content-category-list .article-item-container .content-article-item {
    margin-left: 16px;
}

.content-category-list .article-item-container .title-article-item {
    font-weight: 600;
}
