.ArticleColumnList {
    display: flex;
    justify-content: space-around;
    margin: 16px 40px 0;
    padding-bottom: 24px;
    border-bottom: 1px solid #ccc;

}

.article-column {
    width: 288px;
    padding: 12px 12px 0;
}

.article-column h2 {
    text-align: left;
}

.article-column .article-category-column {
    display: flex;
    margin-top: 8px;
    font-size: 16px;
}

.article-column .article-category-column span:not(:first-child) {
    margin-left: 12px;
}
