.ArticleHighlight {
    display: flex;
    width: 800px;
    min-width: 600px;
}

.article-highlight-main {
    width: 500px;
    min-width: 400px;
}

.article-highlight-main .content-article-item {
    margin-top: 16px;
}

.article-highlight-main p {
    margin-top: 8px;
}


.article-highlight-sub {
    width: 280px;
    min-width: 100px;
    margin-left: 20px;
}

.article-highlight-sub p {
    font-size: 16px !important;
}
