.ArticleItem {
    display: flex;
    align-items: center;
    padding-top: 16px;
}

.article-item-container::after {
    content: "";
    display: block;
    clear: both;
}

.article-item-container {
    width: 100%;
    text-align: left;
}

.img-article-item {
    width: 100%;
    cursor: pointer;
}

.title-article-item {
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
}

.description-article-item {
    cursor: pointer;
}
